ACTION=="add",    ENV{XAUTHORITY}="/home/vaughnvalle/.Xauthority", ENV{NAME}=="*?", ENV{DISPLAY}=":0.0", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/local/bin/disable_kb", TEST=="power/control", ATTR{power/control}="on"
ACTION=="remove", ENV{XAUTHORITY}="/home/vaughnvalle/.Xauthority", ENV{NAME}=="*?", ENV{DISPLAY}=":0.0", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/local/bin/enable_kb"
ACTION=="add",    ENV{XAUTHORITY}="/home/vaughnvalle/.Xauthority", ENV{DISPLAY}=":0.0", SUBSYSTEM=="hid", RUN+="/usr/local/bin/disable_mouse"
ACTION=="remove", ENV{XAUTHORITY}="/home/vaughnvalle/.Xauthority", ENV{DISPLAY}=":0.0", SUBSYSTEM=="hid", RUN+="/usr/local/bin/enable_mouse"
